<h1>@timesheet</h1>
<p>
    <strong>User name:</strong>$<%=@timesheet.user.username<br/> %>
    <strong>Check in:</strong>$<%=@timesheet.check_in%><br/>
    <strong>Check out:</strong>$<%=@timesheet.check_out%><br/>
    <strong>Date check in: </strong>$<%=@timesheet.day%><br/>
</p>
<%=link_to 'Back',{action=>'index'} %>